<div class="container l grid-container">
  <div class="row tall s-hide">
    <div class="column l2 tall">
    </div>
    <div class="column l2 tall">
    </div>
    <div class="column l2 tall">
    </div>
    <div class="column l2 tall">
    </div>
    <div class="column l2 tall">
    </div>
    <div class="column l2 tall">
    </div>
  </div>
  <div class="row tall s-show">
    <div class="column l4 tall">
    </div>
    <div class="column l4 tall">
    </div>
    <div class="column l4 tall">
    </div>
  </div>
</div>
