<header class="theme-header bg-background">
  <nav class="bg-brand fg-background text-center fixed w-full top-0 z-10">
    <ul class="inline w-full">
      {% for link in site.data.navigation.menu %}
        <li class="padding-1x">
          <a href="{{ site.github.url }}{{ link.url }}" title="{{ link.title }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="container l padding-top-3x">
    <div class="row">
      <div class="column l12 m12 s12 center padding-top-2x padding-bottom-3x">
        <meta itemprop="name" content="{{ site.name }}">
        {% if page.layout == 'home' %}
          <h1 class="h4" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url" title="{{ site.name }}">
              {% include logo.html %}
            </a>
          </h1>
        {% else %}
          <span class="h4" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url" title="{{ site.name }}">
              {% include logo.html %}
            </a>
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</header>
