{%- capture color -%}
{%- cycle 'pink', 'violet', 'yellow', 'green', 'orange' -%}
{%- endcapture -%}
{% if include.large == true %}
  <div class="column l12 m12 s12 m-margin-bottom-5x s-margin-bottom-2x">
    <div class="image-wrapper ratio bg-{{ color }} fg-{{ color }} overlay background-image contain" style="background-image:url('/assets/images/portfolio-{{ item.image }}');" data-ratio="16:9">
      <a href="{{ item.url }}" class="content">
        <div class="vertical-align center">
          <span class="h1">{{ item.title }}</span>
          <h4>{{ item.type }}</h4>
        </div>
      </a>
    </div>
  </div>
{% else %}
  <div class="column l6 m12 s12 {% unless forloop.last %}m-margin-bottom-5x s-margin-bottom-2x{% endunless %}">
    <div class="image-wrapper ratio bg-{{ color }} fg-{{ color }} overlay background-image contain" style="background-image:url('/assets/images/portfolio-{{ item.image }}');" data-ratio="16:9">
      <a href="{{ item.url }}" class="content">
        <div class="vertical-align center">
          <span class="h1">{{ item.title }}</span>
          <h4>{{ item.type }}</h4>
        </div>
      </a>
    </div>
  </div>
{% endif %}
