{% include head.html %}
{% include header.html %}

<section class="gallery">
  <div class="container l">
    <div class="row">
      <div class="column">
        <h2>{{ page.title }}</h2>
        <hr class="small">
      </div>
    </div>
    <div class="row">
      {% for image in page.images %}
        <div class="column l3 m2 s1">
          <div class="ratio" data-ratio="1:1" style="background-image: url('{{ site.github.url }}/uploads/{{ image }}')">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include subscribe.html %}
{% include footer.html %}
