{% include head.html %}
{% include header.html %}

<section class="gallery" id="Gallery">
  <div class="container l">
    <div class="row">
      <div class="column">
        <h2>{{ page.title }}</h2>
        <hr class="small">
      </div>
    </div>
    <div class="row">
      {% for image in page.images %}
        <div class="column l3 m6 s12">
          <a class="ratio" data-gallery-index="{{ forloop.index }}" data-ratio="1:1" style="background-image: url('{{ site.github.url }}{{ image }}')">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="popup overlay full-screen" id="GalleryPopup">
  <div class="popup-inner">
    <div class="popup-content container padding-left-1x padding-right-1x center" data-slick>
      {% for image in page.images %}
        <img src="{{ site.github.url }}{{ image }}" />
      {% endfor %}
      <a class="popup-close" data-close>
        {% include icon.html icon='close' title='Close' %}
      </a>
    </div>
  </div>
</div>
{% include sections/subscribe.html %}
{% include footer.html %}
